jettyserver/.settings/.jsdtscope
jettyserver/.settings/org.eclipse.jdt.core.prefs
jettyserver/.settings/org.eclipse.m2e.core.prefs
jettyserver/.settings/org.eclipse.wst.common.component
jettyserver/.settings/org.eclipse.wst.common.project.facet.core.xml
jettyserver/.settings/org.eclipse.wst.jsdt.ui.superType.container
jettyserver/.settings/org.eclipse.wst.jsdt.ui.superType.name
jettyserver/.settings/org.eclipse.wst.validation.prefs
